# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/
.tmp/
.temp/
.cache/

# Env
.env
.env.local
.env.*.local

# Logs
logs/
*.log
*.log.*
*.out
*.pid

# OS/Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Docker
*.pid
docker-data/

# TypeScript
*.tsbuildinfo

# Coverage
coverage/
.nyc_output/

# Misc
*.orig
